.category-heading {
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: #ddd;
}

.post-heading {
    font-size: 26px;
    color: #000;
}

.post-description {
    overflow-y: scroll;
    scrollbar-width: none;
}

.post-code-bg {
    width: fit-content;
    min-width: 100%;
    background-color: #212121 !important;
    width: 100% !important;
    overflow-x: scroll !important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
